.LASPAJASSONLOPEOR {
    background: rgb(243, 0, 0);
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
}
.NOMAS {
    margin-left: 10px;
}
.TienenMuchisimasConsecuenciasNegativas {
    margin-left: 55px;
    margin-top: ;
    font-size: ;
}
#DEJAdePajearte {
    width: 70%;
    height: 40%;
    border: 1px solid white;
    border-radius: 30px;
    padding: 1cm;
    margin: 0 auto;
    margin-top: 40px;


}